*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: auto;
    width: 80%;
    padding: 20px;
}

.container{
    width: 100%;  
    height: 1000px;  
}

.element img, .middle-element{
    float: left;
}

.element img{
    width: 30%;
}

.middle-element img{
    width: 100%;
}

.middle-element{
    display: inline-block;
    width: 30%;
    margin: 0 50px;
}



