*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 80%;
    margin: 10px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
      margin-bottom: 80px;
  }

.element{
    width: 30%;
    height: 450px;
    float: left;
    position: relative;
}

.element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center{
    margin: 0 20px;
}

.first-image{
    display: block;
}

.second-image{
    display: none;
}

.element:hover .second-image{
    display: block;
}

.element:hover .first-image{
    display: none;
}

.heart{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.text-img{
    position: absolute;
    bottom: 20px;
}

.sconto{
    background-color: #f14f75;
    position: relative;
}

.tipologia{
    background-color: #00875a;
}

.sconto, .tipologia{
    display: inline-block;
    padding: 5px;
}

.text h6{
    font-size: 15px;
}

.text h4{
    text-transform: uppercase;
}